<!DOCTYPE html>
<html>
<head>
    <%- include('header', {req, title:  __("cookiePageTitle"), cookies: req.session}) %>
</head>
<body>
    <%- include('navbar', { current: 0, withoutSignIn: true }); %>
    <p><%= __("cookieMessage") %></p>
    <form action="./">
        <input type="hidden" name="cookies" value="1">
        <button type="submit" class="btn btn-success"><%= __("accept") %></button>
    </form>
</body>
</html>