<div class="container">
    <% let cards = [
        {id: 0, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 1, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 2, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 3, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 4, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 5, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 6, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 7, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 8, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 9, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 10, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 11, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 12, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 13, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 14, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 15, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 16, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 17, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 18, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 19, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 20, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 21, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 22, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 23, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 24, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 25, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 26, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 27, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 28, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
        {id: 29, name: "Event title", image: "/images/example800x400-3.png", timestampStart: 1606227134893},
    ]
    %>
    <% let chunk = 3 %> 
    <% for( let i = 0; i < cards.length; i+=chunk) { %>
        <div class="row">
        <% let cardChunk = cards.slice(i, i+chunk) %>
        <% for( let index = 0; index < cardChunk.length; index++ ) { %>
            <div class="col-md">
                <div class="card mb-3 clickable mx-auto" onclick="window.location = './events/<%= cardChunk[index].id %>';">
                    <img class="card-img-top" src="<%= cardChunk[index].image %>">
                    <div class="card-body">
                        <p class="card-text">
                            <span class="font-weight-bold"><%= cardChunk[index].name %></span>
                            <span class="font-weight-light">on <%= Date(cardChunk[index].timestampStart).toString() %></span>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
    <% } %>
    <% for( let index = 0; index < 5; index++ ) { %>
        
                
            
    <% } %>
</div>