<!DOCTYPE html>
<html>
<head>
    <%- include('header', {req, title:  __("landingPageTitle"), cookies}) %>
</head>
<body>
    <%- include('navbar', { current: 1, loginFailed: (typeof req.query.loginfailed === 'undefined' ? false : true) }); %>
    <%- include('latest-embed', {latestEvents: events.slice(0, 3)}); %>
    <br />
    <%- include('event-list', {q: req.query, cards: events.slice(3, events.length + 1)}) %>
</body>
</html>