<div class="container-fluid" style="width: 100%;">
    <div class="row">
        <div class="col-sm px-0">
            <img class="d-block w-100" src="/images/example800x400-1.png" alt="There should be an image here :(">
        </div>
        <div class="col-sm px-0">
            <img class="d-block w-100" src="/images/example800x400-2.png" alt="There should be an image here :(">
        </div>
        <div class="col-sm px-0">
            <img class="d-block w-100" src="/images/example800x400-3.png" alt="There should be an image here :(">
        </div>
    </div>
</div>